<%= render 'shared/menu' %>
<div class="main-container">
  <div class="banner-container no-pad">
    <%=  link_to (image_tag "http://res.cloudinary.com/dywzzd0as/image/upload/v1520856923/Group_2_1.svg", {class: "logo"}), root_path %>
    <div class="tab-area">
      <div id="exTab1" class="container">
        <ul  class="nav nav-pills">
          <li class="active">
            <a  href="#1a" data-toggle="tab">Last 10</a>
          </li>
          <li><a href="#2a" data-toggle="tab">My Picks</a>
          </li>
        </ul>
        <div class="tab-content clearfix">
          <div class="tab-pane active" id="1a">
            <%@places[0..10].each do |place|  %>
            <div class="card-last">
              <div class="last-photo" style="background-image: url(<%= place.featured_image%>);">
              </div>
              <div class="last-name">
                <p> <%= place.name %></p>
              </div>
              <div class="last-status">
                <% if place.places_histories.first.rejected == false %>
                <p><%= link_to "Save", places_save_id_path(place.id) %></p>
                <% elsif place.places_histories.first.rejected == nil  %>
                <p><%= link_to "Save", places_save_id_path(place.id) %></p>
                <% end  %>
              </div>
              <%= link_to "", places_show_id_path(place.id), :class => "card-link" %>
            </div>
            <% end %>
          </div>
          <div class="tab-pane" id="2a">

            <% @places.each do |place| %>
            <%  if place.places_histories.first.rejected == true  %>
            <div class="card-last mypicks">
              <div class="last-photo" style="background-image: url(<%= place.featured_image%>);">
              </div>
              <div class="mypicks-name">
                <p> <%= place.name %></p>
              </div>

              <div class="mypicks-phone">
                <a href="tel:<%= place.phone_number %>" ><%= image_tag "http://res.cloudinary.com/dywzzd0as/image/upload/v1520514037/Group_2.svg", class: "img_btn_2" %></a>
              </div>
              <div class="mypicks-status">
                <p><%= link_to "X", places_save_id_path(place.id) %></p>
              </div>
              <%= link_to "", places_show_id_path(place.id), :class => "card-link" %>

            </div>

            <% end  %>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<script>
function openTab(evt, tabName) {
    var i, tabcontent, tab;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tab = document.getElementsByClassName("tab");
    for (i = 0; i < tab.length; i++) {
        tab[i].className = tab[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("Open").click();
</script> -->
