<%= render 'shared/menu' %>
<div class="main-container">
<div class="banner-container no-pad">
  <%=  link_to (image_tag "http://res.cloudinary.com/dywzzd0as/image/upload/v1520856923/Group_2_1.svg", {class: "logo"}), root_path %>

  <div class="details">
    <%= form_for("search", :url => { :action => "show" }, :html => { :method => "GET"}) do |f| %>

    <input type="hidden" name="meal_type" value=<%= @meal_type %> >
    <div class="form-group">
      <%= f.select( :cuisine_types, @unique_types, {}, {multiple: true, id: "selectize"}) %>
    </div>

    <div class="form-group">
      <input class="form-control mr-sm-2" id="place_address"  type="text" name="place" placeholder="Largo do Chiado?" action="/places/show" method="get">
    </div>
<!--     <div class="slidecontainer">
      <input class="form-control" type="range" min="0" max="30" step="0.1" value="1.5" name="radius" id="myRange" action="/places/show" method="get">
      <p>Distance km: <span id="demo"></span></p>
    </div> -->
    <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value;

      slider.oninput = function() {
        output.innerHTML = this.value;
      }
    </script>
   <!--  <div class="form-group">

      <p>Min. Price<input class="form-control mr-sm-2" id="min_price" type="text" name="min_price" placeholder="0" action="/places/show" method="get"></p>
      <p>Max. Price<input class="form-control mr-sm-2" id="max_price" type="text" name="max_price" placeholder="0" action="/places/show" method="get"></p>
    </div> -->
    <div class="form-group">
      <%= render 'range-slider' %>
    </div>
    <div class="form-group">
      <%= render 'double-slider' %>
    </div>

    <div class="button-pick">
      <button class="btn btn-lg btn-start" type="submit" method="get">
        <%= image_tag "http://res.cloudinary.com/dywzzd0as/image/upload/v1520523777/Ellipse.svg", {class: "button_pick"} %>
      </button>
    <% end %>
  </div>





</div>
</div>

<script>
  var placesAutocomplete = places({
    container: document.querySelector('#place_address'),
    countries: ['pt'],

  });
</script>
<!-- <script>
var placesAutocomplete = {
  container: document.querySelector('#place_address'),
  language: 'en', // Receives results in German
  countries: ['pt'], //
  type: 'city', // Search only for cities names
  aroundLatLngViaIP: true // disable the extra search/boost around the source IP
};
</script> -->



