
<% a = @place %>
<div class="col-xs-12" style= "padding: 0px">
  <div class= "show-all">

    <div class="banner-show-top" style="background-image: url(<%= image_path(a.featured_image) %>);">
      <%= image_tag "pick_logo.png", {class: "logo"}%>
      <div class="show-buttons">
        <a href="tel:<%= a.phone_number %>" ><%= image_tag "pick_call_btn.png", class: "img_btn" %></a>
        <%= link_to (image_tag "pick_location_btn.png", class: "img_btn"), ('https://www.google.com/maps/dir/?api=1''&origin=''&destination='+ a.address)%>


        <!-- <div class="social-share-button" data-title="Share to Facebook" data-img="" data-url="https://www.google.com/" data-desc="Heim Cafe" data-via="">
          <a rel="nofollow " data-site="facebook" onclick="return SocialShareButton.share(this);" title="Share to Facebook" href="#"><%= image_tag "pick_share_btn.png", class: "img_btn"%></a>
        </div> -->


     <%= link_to image_tag("pick_share_btn.png", class: "img_btn"), 'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank %>
      </div>
    </div>

    <div class="show-down">
      <div class="show-title">
        <h1><%=a.name %></h1>
        <div class="show-meal"><% a.meal_types.each do |meal| %>
          <p><%=meal.name%></p>
          <% end %>
        </div>
        <p><%=a.average_cost_for_two %>€</p>
        <p>CHECK ME</p>
      </div>
      <div class="show-btn-again">
    <%= link_to "Back", places_show_path%>
  </div>
    </div>
  </div>
</div>
</div>
</div>




