
<% a = @place %>
<div class="col-xs-12" style= "padding: 0px">
  <div class= "show-all">

    <div class="banner-show-top" style="background-image: url(<%= a.featured_image%>);">
      <%= image_tag "pick_logo.png", {class: "logo"}%>
      <div class="show-buttons">
        <a href="tel:<%= a.phone_number %>" ><%= image_tag "pick_call_btn.png", class: "img_btn" %></a>
        <%= link_to (image_tag "pick_location_btn.png", class: "img_btn"), ('https://www.google.com/maps/dir/?api=1''&origin=''&destination='+ a.address)%>


        <!-- <div class="social-share-button" data-title="Share to Facebook" data-img="" data-url="https://www.google.com/" data-desc="Heim Cafe" data-via="">
          <a rel="nofollow " data-site="facebook" onclick="return SocialShareButton.share(this);" title="Share to Facebook" href="#"><%= image_tag "pick_share_btn.png", class: "img_btn"%></a>
        </div> -->




        <%= link_to image_tag("pick_share_btn.png", class: "img_btn"), 'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank %>

      </div>
    </div>

    <div class="show-down">
      <div class="show-title">

        <% if a.name.size > 45 %>
        <h3><%=a.name %></h3>
        <% elsif a.name.size > 22 %>
        <h2><%=a.name %></h2>
        <% else %>
        <h1><%=a.name %></h1>
        <% end %>

        <div class="show-meal-all" >
          <% char = 0  %>
          <% a.cuisine_types.each do |cuisine|  %>
          <% char = char + cuisine.name.size %>
          <% end %>



          <% a.cuisine_types.each do |cuisine| %>
          <div class="show-meal">
            <p><%=cuisine.name%></p>
          </div>
          <% end %>
        </div>

        <div class="show-menu-price">
          <div class="show-price">
            <p class="price"><%=a.average_cost_for_two %>€ </p>
            <%= image_tag "people.png", {class: "people"}%>
          </div>
          <div class="show-menu">
            <p class="menu-text">CHECK ME</p>
          </div>
        </div>

      </div>

    </div>
    <div class="show-btn-again">
        <%= link_to "Back", places_show_path%>
      </div>
  </div>
</div>

</div>
</div>




